<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>%name%</title>
    <style>
        li {
            padding-right: 1em;
        }
        #db li > span:hover {
            background-color: #20c997;
            cursor: pointer;
        }
        #cache li > span:hover {
            background-color: #1c7430;
            cursor: pointer;
        }
        li[data-is_deleted='true'] {
            background-color: red;
        }
        .border {
            border: 1px solid black;
        }
        .block {
            display: inline-block;
            margin-right: 20px;
            min-height: 100px;
            float: left;
        }
        .block:after {
            clear: both;
        }
        label {
            border-bottom: 1px solid black;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="block border">
    <label for="cache">cache</label>
    <div id="cache"></div>
</div>

<div class="block">
    <button type="button" onclick="renderNode();"><<<</button>
    <button type="button" onclick="createNode();">+</button>
    <button type="button" onclick="deleteNode();">-</button>
    <button type="button" onclick="renameNode();">cache rename</button>
    <button type="button" onclick="saveCache();">accept</button>
    <button type="button" onclick="resetDB();">reset</button>
</div>

<div class="block border">
    <label for="db">db</label>
    <div id="db"></div>
</div>


<script type="application/javascript">
    let db_tree = '%db_tree%';
    let db_tree_selected_path = null;
    let cache_tree_marked_path = null;
    let cache_tree = null;

    function renderTree(tree, type) {
        let i, ul = document.createElement('ul'), li;
        for (i in tree) {
            li = ul.appendChild(document.createElement('li'));
            if (typeof tree[i]['is_deleted'] !== "undefined") {
                li.setAttribute('data-is_deleted', tree[i]['is_deleted']);
            }
            if (type === 'db') {
                li.innerHTML = '<span onclick="selectNode(this)">' + tree[i]['name'] + '</span>';
            } else if (type === 'cache') {
                li.innerHTML = '<span onclick="markNode(this)" contenteditable="true">' + tree[i]['name'] + '</span>';
            }
            li.setAttribute('data-path', Object.values(tree[i]['path']));

            if (typeof tree[i]['nested'] === 'object') {
                li.appendChild(renderTree(tree[i]['nested'], type));
            }
        }
        return ul;
    }

    document.getElementById('db').appendChild(
        renderTree(JSON.parse(db_tree), 'db')
    );

    function renderNode() {
        if (!db_tree_selected_path) {
            return;
        }
        let req = new XMLHttpRequest();
        let uri = 'nodes/' + db_tree_selected_path;
        let method = 'get';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                let node = JSON.parse(req.response);
                if (null !== cache_tree) {
                    updateTree(cache_tree, node);
                } else {
                    document.getElementById('cache').appendChild(
                        renderTree(node, 'cache')
                    );
                    cache_tree = node;
                }
            } else {
                alert('Ошибка рендеринга ноды');
            }
        };
        req.send();

        db_tree_selected_path = null;
    }

    function updateTree(cache, node) {
        let req = new XMLHttpRequest();
        let uri = 'cache/merge';
        let method = 'put';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                cache_tree = JSON.parse(req.response);
                document.getElementById('cache').replaceChild(
                    renderTree(cache_tree, 'cache'),
                    document.getElementById('cache').firstChild
                );

            } else {
                alert('Ошибка слияния в кэше');
            }
        };
        let data = {};
        data.cache = cache;
        data.node = node;
        req.send(JSON.stringify(data));
    }

    function renameNode() {
        if (!cache_tree_marked_path) {
            return;
        }
        let node = document.getElementById('cache').querySelector('[data-path="' + cache_tree_marked_path + '"]');
        let name = node.firstChild.textContent;
        let req = new XMLHttpRequest();
        let uri = 'nodes/' + cache_tree_marked_path;
        let method = 'put';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                findNode(JSON.parse(req.response), function (node) {
                    node['name'] = name;
                });
                console.log(cache_tree);
            } else {
                alert('Ошибка переименования');
            }
        };
        let data = {};
        data.name = name;
        req.send(JSON.stringify(data));

        cache_tree_marked_path = null;
    }

    function createNode() {
        if (!cache_tree_marked_path) {
            return;
        }

        let req = new XMLHttpRequest();
        let uri = 'nodes/' + cache_tree_marked_path;
        let method = 'post';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (201 === req.status) {
                findNode(JSON.parse(req.response), function (node) {
                    if (typeof node['nested'] !== 'undefined') {
                        let length = node['nested'].length;

                        let clone_node = JSON.parse(JSON.stringify(node['nested'][length - 1]));
                        clone_node['name'] = 'new';
                        delete clone_node['nested'];

                        let clone_path_length = clone_node['path'].length;
                        clone_node['path'][clone_path_length - 1]++;
                        node['nested'][length] = clone_node;

                        document.getElementById('cache').replaceChild(
                            renderTree(cache_tree, 'cache'),
                            document.getElementById('cache').firstChild
                        );
                    }
                });
            } else {
                alert('Ошибка добавления ноды');
            }
        };
        req.send();

        cache_tree_marked_path = null;
    }

    function deleteNode() {
        if (!cache_tree_marked_path) {
            return;
        }

        let req = new XMLHttpRequest();
        let uri = 'nodes/' + cache_tree_marked_path;
        let method = 'delete';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                findNode(JSON.parse(req.response), function (node) {
                    node['is_deleted'] = true;
                    document.getElementById('cache')
                        .querySelector('[data-path="' + node['path'] + '"]')
                        .setAttribute('data-is_deleted', true);
                });
            } else {
                alert('Ошибка удаления');
            }
        };
        req.send();

        cache_tree_marked_path = null;
    }

    function saveCache() {
        if (!cache_tree) {
            return;
        }

        let req = new XMLHttpRequest();
        let uri = 'cache';
        let method = 'post';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                findNode(JSON.parse(req.response), function (node) {
                    node['is_deleted'] = true;
                    document.getElementById('cache')
                        .querySelector('[data-path="' + node['path'] + '"]')
                        .setAttribute('data-is_deleted', true);
                });
            } else {
                alert('Ошибка удаления');
            }
        };
        let data = {};
        data.cache = cache_tree;
        req.send(JSON.stringify(data));
    }

    function resetDB() {
        let req = new XMLHttpRequest();
        let uri = 'db/reset';
        let method = 'put';
        req.open(method, encodeURIComponent(uri), true);
        req.withCredentials = false;
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                document.location.href = document.location.pathname;
            } else {
                alert('Ошибка сброса состояния БД');
            }
        };
        req.send();
    }

    function findNode(sequence, closure) {
        let aux = cache_tree, idx;
        for (idx of sequence) {
            if (typeof aux[idx] !== 'undefined') {
                aux = aux[idx];
            } else {
                return null;
            }
        }

        closure(aux);
    }

    function selectNode(node) {
        db_tree_selected_path = node.parentNode.getAttribute('data-path');
    }

    function markNode(node) {
        cache_tree_marked_path = node.parentNode.getAttribute('data-path');
    }
</script>

</body>
</html>