<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>%name%</title>
    <style>
        li {
            padding-right: 1em;
        }

        #db li > span:hover {
            background-color: #20c997;
            cursor: pointer;
        }

        #cache li > span:hover {
            background-color: #1c7430;
            cursor: pointer;
        }

        li[data-is_deleted='true'] > span {
            color: red;
        }

        .border {
            border: 1px solid black;
        }

        .block {
            display: inline-block;
            margin-right: 20px;
            min-height: 100px;
            float: left;
        }

        .block:after {
            clear: both;
        }

        label {
            border-bottom: 1px solid black;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>

<div class="block border">
    <label for="cache">cache</label>
    <div id="cache"></div>
</div>

<div class="block">
    <button type="button" onclick="getNode();"><<<</button>
    <button type="button" onclick="createNode();">+</button>
    <button type="button" onclick="deleteNode();">-</button>
    <button type="button" onclick="renameNode();">cache rename</button>
    <button type="button" onclick="saveChanges();">accept</button>
    <button type="button" onclick="resetDatabase();">reset</button>
</div>

<div class="block border">
    <label for="db">db</label>
    <div id="db"></div>
</div>


<script type="application/javascript">
    let db_tree = '%db_tree%';
    let cache_tree = null;
    let db_tree_selected_id = null;
    let cache_tree_marked_id = null;
    let cache_index = [];
    let cache_tmp_id = 0;
    const prefix_tmp_id = 'generate';


    function selectNode(node) {
        db_tree_selected_id = node.parentNode.getAttribute('data-id');
    }

    function markNode(node) {
        cache_tree_marked_id = node.parentNode.getAttribute('data-id');
    }

    function renderTree(tree, type) {
        let i, ul = document.createElement('ul'), li;
        for (i in tree) {
            li = ul.appendChild(document.createElement('li'));
            if (typeof tree[i]['is_deleted'] !== "undefined") {
                li.setAttribute('data-is_deleted', tree[i]['is_deleted']);
            }
            if (type === 'db') {
                li.innerHTML = '<span onclick="selectNode(this)">' + tree[i]['name'] + '</span>';
            } else if (type === 'cache') {
                li.innerHTML = '<span onclick="markNode(this)" contenteditable="true">' + tree[i]['name'] + '</span>';
            }
            li.setAttribute('data-id', tree[i]['id']);

            if (typeof tree[i]['nested'] === 'object') {
                li.appendChild(renderTree(tree[i]['nested'], type));
            }
        }
        return ul;
    }

    document.getElementById('db').appendChild(
        renderTree(JSON.parse(db_tree), 'db')
    );

    function rebuildTree(tree) {
        let new_tree = {};
        for (let i in cache_index) {
            let path = findPathTo(cache_index[i]['id'], tree);
            if (null !== path) {
                let node = null;
                goto(path, function (item) {
                    node = item;
                });
                if (null !== node) {
                    updateTree(new_tree, node);
                }
            }
        }

        return new_tree;
    }

    function updateTree(tree, node) {
        let path = findPathTo(node['parent_id'], tree);
        if (false !== path) {
            goto(path, function (item) {
                if (typeof item['nested'] === 'undefined') {
                    item['nested'] = {};
                    item['nested'][node['id']] = node;
                } else if (item['nested'] !== 'undefined' && typeof item['nested'][node['id']] === 'undefined') {
                    item['nested'][node['id']] = node;
                }
            });
        } else {
            tree[node['id']] = node;
        }
    }

    function goto(sequence, closure) {
        let aux = cache_tree, idx;
        for (idx of sequence) {
            if (typeof aux[idx] !== 'undefined') {
                aux = aux[idx];
            } else {
                return null;
            }
        }

        closure(aux);
    }

    function renameNode() {
        if (!cache_tree_marked_id) {
            return;
        }

        let node = document.getElementById('cache').querySelector('[data-id="' + cache_tree_marked_id + '"]');
        let name = node.firstChild.textContent;

        let path = findPathTo(cache_tree_marked_id, cache_tree);
        if (false !== path) {
            goto(path, function (node) {
                if (node['is_deleted']) {
                    alert('Нельзя редактировать удалённую ноду, изменения не сохранятся');

                    return;
                }

                if (!isTmpNodeId(node['id'])) {
                    node['name'] = name;
                } else {
                    alert('Сохраните и перезагрузите ноду, чтобы переименовать');
                }
            });
        }

        cache_tree_marked_id = null;
    }

    function findPathTo(id, haystack, path = []) {
        for (let index in haystack) {
            if (typeof haystack[index] === 'object' || typeof haystack[index] === 'array') {
                path.push(index);
                if (findPathTo(id, haystack[index], path)) {
                    return path;
                }

                path.pop();
            } else if (index === 'id' && haystack[index] == id) {
                return true;
            }
        }

        return false;
    }

    function createNode() {
        if (!cache_tree_marked_id) {
            return;
        }

        let path = findPathTo(cache_tree_marked_id, cache_tree);
        if (false === path) {
            alert('Прежде чем добавлять раздел, необходимо подгрузить ноду');

            return;
        }
        goto(path, function (node) {
            if (node['is_deleted']) {
                alert('Нельзя редактировать удалённую ноду, изменения не сохранятся');

                return;
            }

            if (typeof node['nested'] !== 'undefined') {
                let firstKey = Object.keys(node['nested'])[0];
                let newIndex = parseInt(Object.keys(node['nested']).pop()) + 1;

                let clone_node = JSON.parse(JSON.stringify(node['nested'][firstKey]));
                clone_node['name'] = 'new';
                clone_node['id'] = getTmpNodeId();
                clone_node['is_deleted'] = false;
                delete clone_node['nested'];

                node['nested'][newIndex] = clone_node;
            } else {
                node['nested'] = {0: null};
                node['nested'][0] = {
                    'id': getTmpNodeId(),
                    'name': 'new',
                    'parent_id': node['id'],
                    'is_deleted': false
                }
            }

            document.getElementById('cache').replaceChild(
                renderTree(cache_tree, 'cache'),
                document.getElementById('cache').firstChild
            );
        });

        cache_tree_marked_id = null;
    }

    function isTmpNodeId(id) {
        return id.toString().includes(prefix_tmp_id);
    }

    function getTmpNodeId() {
        cache_tmp_id++;

        return prefix_tmp_id + cache_tmp_id;
    }

    function deleteNode() {
        if (!cache_tree_marked_id) {
            return;
        }

        deleteNested(cache_tree_marked_id, cache_tree);

        cache_tree_marked_id = null;
    }

    function deleteNested(id, tree) {
        let path = findPathTo(id, tree);
        if (false !== path) {
            goto(path, function (node) {
                node['is_deleted'] = true;
                document.getElementById('cache')
                    .querySelector('[data-id="' + node['id'] + '"]')
                    .setAttribute('data-is_deleted', true);


                if (typeof node['nested'] !== 'undefined') {
                    for (let idx of Object.keys(node['nested'])) {
                        deleteNested(node['nested'][idx]['id'], tree);

                        document.getElementById('cache')
                            .querySelector('[data-id="' + node['nested'][idx]['id'] + '"]')
                            .setAttribute('data-is_deleted', true);
                    }
                }
            });
        }
    }

    function getNode() {
        if (!db_tree_selected_id) {
            return;
        }
        let req = new XMLHttpRequest();
        let uri = 'db/node/?id=' + db_tree_selected_id;
        let method = 'get';
        req.open(method, uri, true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                let node = JSON.parse(req.response);

                cache_index.push({
                    'id': node['id'],
                    'parent_id': node['parent_id']
                });
                cache_index.sort(function (a, b) {
                    return a.parent_id - b.parent_id;
                });

                if (null === cache_tree) {
                    cache_tree = {};
                    cache_tree[node['id']] = node;

                    document.getElementById('cache').appendChild(
                        renderTree(cache_tree, 'cache')
                    );
                } else {
                    updateTree(cache_tree, node);
                    cache_tree = rebuildTree(cache_tree);
                    document.getElementById('cache').replaceChild(
                        renderTree(cache_tree, 'cache'),
                        document.getElementById('cache').firstChild
                    );
                }
            } else {
                alert('Ошибка рендеринга ноды');
            }
        };
        req.send();

        db_tree_selected_id = null;
    }

    function saveChanges() {
        if (!cache_tree) {
            return;
        }
        let req = new XMLHttpRequest();
        let uri = 'db/save';
        let method = 'put';
        req.open(method, uri, true);
        req.withCredentials = false;
        req.setRequestHeader('Content-type', 'application/json; charset=utf-8');
        req.onreadystatechange = function () {
            if (4 !== req.readyState) {
                return;
            }
            if (200 === req.status) {
                let response = JSON.parse(req.response);

                let new_nodes = document.getElementById('cache').querySelectorAll('[data-id^="' + prefix_tmp_id + '"]');
                let node;
                for (let i = 0; node = new_nodes[i]; i++) {
                    let tmp_id = node.getAttribute('data-id');
                    if (typeof response['created'][tmp_id] === 'undefined'
                        || typeof response['created'][tmp_id]['id'] === 'undefined') {
                        continue;
                    }
                    node.setAttribute('data-id', response['created'][tmp_id]['id']);
                    let path = findPathTo(tmp_id, cache_tree);
                    if (path !== false) {
                        goto(path, function (node) {
                            node['id'] = response['created'][tmp_id]['id'];
                            node['parent_id'] = response['created'][tmp_id]['parent_id'];
                        })
                    }
                }

                for (let deleted_id in response['deleted']) {
                    if (typeof response['deleted'][deleted_id] === 'undefined'
                        || typeof response['deleted'][deleted_id]['id'] === 'undefined') {
                        continue;
                    }
                    document.getElementById('cache')
                        .querySelector('[data-id="' + response['deleted'][deleted_id]['id'] + '"]')
                        .setAttribute('data-is_deleted', true);

                    let path = findPathTo(deleted_id, cache_tree);
                    if (path !== false) {
                        goto(path, function (node) {
                            node['is_deleted'] = true;
                        })
                    }
                }

                for (let rejected_id in response['rejected']) {
                    if (typeof response['rejected'][rejected_id] === 'undefined'
                        || typeof response['rejected'][rejected_id]['id'] === 'undefined') {
                        continue;
                    }
                    document.getElementById('cache')
                        .querySelectorAll('[data-id="' + response['rejected'][rejected_id]['id'] + '"]')
                        .forEach(e => e.parentNode.removeChild(e));

                    let path = findPathTo(rejected_id, cache_tree);
                    if (path !== false) {
                        goto(path, function (node) {
                            let path = findPathTo(node['parent_id'], cache_tree);
                            if (path !== false) {
                                goto(path, function (node) {
                                    delete node['nested'];
                                });
                            }
                        })
                    }
                }

                document.getElementById('db').replaceChild(
                    renderTree(response['db_tree'], 'db'),
                    document.getElementById('db').firstChild
                );

            } else {
                alert('Ошибка сохранения');
            }
        };
        let data = {};
        data.cache = cache_tree;

        req.send(JSON.stringify(
            data,
        ));
    }

    function resetDatabase() {
        let req = new XMLHttpRequest();
        let uri = 'db/reset';
        let method = 'put';
        req.open(method, uri, true);
        req.withCredentials = false;
        req.onreadystatechange = function () {
            document.location.href = document.location.pathname;
        };
        req.send();
    }
</script>

</body>
</html>